:root {
    box-sizing: border-box;
}
body {
    background-color: rgba(221, 232, 233,0.6);
    margin:0;
    font-family: 'Poppins', sans-serif;
}
.loginBox {
    width: 80%;
    height: 400px;
    margin:140px auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    position: relative;
    border-radius: 0.4em;           
}

.loginForm {
    margin-top: 5.5em;
    padding: 0.5em;
}

.loginForm > input {
    border: 0;
}

.loginForm > .keyInput {
    width: 100%;
    padding: 0.5em 0.3em;
    border: 0;
    border-bottom: 1px solid gray;
    display: flex;
    font-size: 17px;
    text-align: center;
    font-family: 'Arial','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.loginForm > * + * {
    margin-top: 1.3em;
}

.techClub {
    padding-top:30px;
}
.techClub img{
    width: 125px;
    height: 125px;
}

.loginForm > .submitButton {
    width: 10em;
    height: 2.2em;
    background-color: rgba(108, 245, 251, 0.5);
    border: 0;
    border-radius: 0.3em;
    color: black;
    font-size: 1.2rem;
    align-self: center;
}


.box{
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.box > .success{
  background-color: #fefefe;
  margin: 50% auto; 
  padding: 20px;
  padding-top: 40px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 10px;
}

.success > .home{
    background-color:#245dc7;
	border-radius:10px;
	border:2px solid #c4c1d1;
	display:block;
	cursor:pointer;
	color:#fafafa;
	font-family:Arial;
	font-size:17px;
	padding:9px 39px;
	text-decoration:none;
    text-shadow:0px 1px 0px #d8e0d7;
    width:20%;
    margin: auto;
    margin-top: 30px;
}

.loginForm > .fail{
    font-size:17px;
    color: rgb(241, 52, 52);
    display: block;
}

.back {
    padding: 0.5em ;
    text-align: center;
    /* background: linear-gradient(to right, #48c6ef   0%,  #6f86d6 100%); */
    background-color: rgba(108, 245, 251, 0.5);
    box-shadow:0 8px 8px 0 rgba(0, 0, 0, 0.2) ;
    position: fixed;
    top:0;
    left: 0;
    width:100%;
}

.back > a{
    float: left;
    text-decoration: none;
    color: white;
    font-size:30px;
}
