/* :root {
    font-size: calc(1vw + 0.68em);
} */
body {
    background-color: rgba(221, 232, 233,0.6);
    /* font-size: calc(1vw + 1em); */
    margin:0;
    font-family: 'Poppins', sans-serif;
}
.container {
    width: 85%;
    margin: 50px auto;
    position: relative;
    top: 40px;
    margin-bottom: 20px;   
}


.card  {
    width: 100%;
    text-align: center;
    background: white;
    border-radius: 0.3em;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
    font-size:22px;
}
.card > img {
    width: 100%;

    border-top-right-radius: 0.3em;
    border-top-left-radius: 0.3em;
}
.card > div {
    display: flex;
    align-items: center;
    padding: 0.7em;
}
.card > div > div {
    flex: 2;
    font-size: 1em; 
}
/* .card > div >button {
    
    padding: 0.2em;
    font-size: 1em;
    background-color:#0780fdbd;
    border: 2px solid#05efef00;
    border-radius: 1.5em;
    box-shadow: 0em 0em 0.12em 0.005em rgb(124, 158, 62);
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    align-self: center;
    flex: 1;
    
} */


.voteBtn{
    padding: 0.2em;
    font-size: 1em;
    background: linear-gradient(to bottom, #48c6ef   0%,  #6f86d6 100%);
    border: 2px solid#05efef00;
    border-radius: 1.5em;
    color: rgb(255, 255, 255);
    align-self: center;
    flex: 1;
}

header {
    /* #48c6ef  0%,  #6f86d6 */
    padding: 0.5em ;
    text-align: center;
    position: fixed;
    background: linear-gradient(to right, #48c6ef   0%,  #6f86d6 100%);
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
    box-shadow:0 8px 8px 0 rgba(0, 0, 0, 0.2) ;
    font-family: 'Lobster', cursive;
}

header > a{
    float: left;
    text-decoration: none;
    color: white;
    font-size:30px;
}

header > h2 {
    margin: 0;
    letter-spacing: 0.1em;
    /* font-style: italic; */ 
    font-weight: 100;
    font-size: 1.3em;
    color:white;
    display: inline;
    
}

.box2,.box3,.box4{
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    visibility: hidden;
  }
  
  .box2 > .fail{
    background-color: #fefefe;
    margin: 50% auto; 
    padding: 20px;
    padding-top: 40px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
  }
  
  .fail > .home{
      background-color:#245dc7;
      border-radius:10px;
      border:2px solid #c4c1d1;
      display:block;
      cursor:pointer;
      color:#fafafa;
      font-size:17px;
      padding:9px 39px;
      text-decoration:none;
      text-shadow:0px 1px 0px #d8e0d7;
      width:20%;
      margin: auto;
      margin-top: 30px;
  }
  
  .box3 > .success{
    background-color: #fefefe;
    margin: 50% auto; 
    padding: 20px;
    padding-top: 40px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
  }
  
  .success > .home{
      background-color:#245dc7;
      border-radius:10px;
      border:2px solid #c4c1d1;
      display:block;
      cursor:pointer;
      color:#fafafa;
      font-size:17px;
      padding:9px 39px;
      text-decoration:none;
      text-shadow:0px 1px 0px #d8e0d7;
      width:20%;
      margin: auto;
      margin-top: 30px;
  }

  .box4 > .cancel{
    background-color: #fefefe;
    margin: 50% auto; 
    padding: 20px;
    padding-top: 40px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
    font-size: 20px;
  }
  
  .homeCancel{
    background-color:transparent;
    border-radius:10px;
    border:2px solid #818181;
    display:inline-block;
    cursor:pointer;
    color:#2e2d2d;
    font-size:17px;
    padding:7px 10px;
    text-decoration:none;
    text-shadow:0px 1px 0px #d8e0d7;
    width:50px;
    margin-right:20px;
    margin-top: 30px;
  }

  .btnCancel{
    background-color:#d45151;
    border-radius:10px;
    border:2px solid #c4c1d1;
    display:inline-block;
    cursor:pointer;
    color:#fafafa;
    font-size:17px;
    padding:9px;
    text-decoration:none;
    text-shadow:0px 1px 0px #d8e0d7;
    width:150px;
    margin-left: 10px;
    margin-top: 30px;
  }

  @media (min-width: 900px) {
    .container{
      display: grid;
      grid-template-columns: repeat(3,1fr);
      grid-template-rows: repeat(3,1fr);
      grid-gap:1em;
      padding-left:10px;
      padding-right: 10px;
      top: 100px;
    }
  }